.slogan{
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  z-index: 10;
}

span{
  font-weight: bold;
  color: #00A7E6;
}

.slogan--words{
  padding-left: 5vh;
  font-family: 'Comfortaa', cursive;
}