* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  z-index: 0;
  /*  */
}

/*------------------------------------*/
.menuLateral {
  position: fixed;
  width: 20%;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  box-shadow: inset 1.3vmin 0px #ffffff;
  transition: all .2s ease-in-out;
}

.menuLateral:hover {
  box-shadow: inset 1.3vmin 0px #00A7E6;
}

.menuLateral--logoBlanco {
  width: 100%;
  /* color: #00A7E6; */
  height: 15vh;
  transition: transform .5s ease-in-out;
}

.menuLateral--logoBlanco:hover {
  transform: rotate(360deg);
  /* opacity: 50%;
  filter: brightness(0.15); */
}

.menuLateral--contenedor {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------BARRA RESPONSIVE----------------------*/

.menuSuperior {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #333;
  z-index: 1;
  font-size: calc(10px + 2vmin);
  color: white;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*--------------BARRA RESPONSIVE----------------------*/
.mainFlow {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  z-index: 0;
  left: 20%;
}

/*------------------------------------*/
.home {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.home--contenedorLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
}

.home--contenedorRight {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  /* align-items: left; */
  /* padding: 7vh; */
}

.home--logo {
  position: relative;
  width: 75%;
  height: 15%;
  float: left;
  z-index: 2;
}

/*----------------------------------------*/
.projects {
  position: relative;
  background-color: #8e9ebe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.contenedorProjects {
  width: 95%;
  height: 100%;
  margin: 2rem;
  text-align: center;
}

/*----------------------------------------*/
.about {
  position: relative;
  background-color: #bec58d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.contenedorAbout {
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.contenedorImagenes {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.imagenAbout {
  max-width: 100%;
  padding: 1.5em;
  object-fit: contain;
}

.articuloAbout {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 1.5em;
  text-align: justify;
  font-size: 1.5rem;
}

ol li {
  text-align: left;
  display: block;
  font-size: x-large;
}

/*----------------------------------------*/
.blog {
  position: relative;
  background-color: #c58db5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(1px + 2vmin);
  color: white;
  z-index: 1;
}

/*----------------------------------------*/
.contacto {
  position: relative;
  background-color: #c58db5;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(1px + 2vmin);
  color: white;
  z-index: 1;
}

.contenedorContactos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.svg {
  width: 10%;
  fill: #ffffff;
  transition: width .1s ease-in-out;
}

.svg:hover {
  cursor: pointer;
  width: 10.5%;
  fill: #00A7E6;
}

/*----------------------------------------*/

@media (max-width: 900px) {
  .menuLateral {
    display: none;
  }

  .mainFlow {
    width: 100%;
    left: 0;
    /* top: 8vh; */
  }

  .home--contenedorLeft {
    padding-top: 0;
    width: auto;
  }

  .menuSuperior {
    display: flex;
  }

  .menuSuperior>a {
    width: auto;
  }

  .menuSuperior>button {
    margin-top: 0;
  }

  .contenedorAbout {
    display: flex;
    flex-direction: column;
  }

  .contenedorImagenes {
    width: 100%;
  }

  .articuloAbout {
    width: 100%;
  }


}

@media (max-width: 450px) {
  .menuSuperior>a {
    font-size: 0.8rem;
  }

  .menuSuperior>button {
    width: 40px;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}